@media (prefers-color-scheme: light) {
  :root {
    /* Update CSS variables */
  }
}

[data-theme=light],
.theme-dark {
  /* Update CSS variables */
}

/* colors */
$light-green: #68A869;
$light-pink: #ffb6c1;
$dark-pink: #C69AA3;
$light-grey: #ebebeb;
$dark-grey: #353535;
$darkest-grey: #252525;
$dark-red: #C93A3A;

// html { background-color: red; }
// .container { background-color: $light-grey; }
.list-posts {
    margin-top: 1.5em;
}

.is-pink {
  color: $dark-pink;
}

.is-pink-bg {
    background-color: $light-pink;
}

.is-light-grey {
    background-color: $light-grey;
}

.title > a {
    color: #4a4a4a;
}

#tagline {
  margin-left: 1em;
  margin-bottom: .5em;

  @media (max-width: 768px) {
      font-size: .84em;
  }

  span {
      padding: .15em .3em .3em .3em;

      &:last-child {
          margin-right: 0em;
          padding-right: .2em;
      }
  }
}

#adj1 {
  color: $light-pink;
  background-color: $dark-grey;
}

#adj2 {
  color: $dark-red;
  background-color: $light-grey;
}

#adj3 {
  color: $dark-pink;
  background-color: $dark-grey;
}

#tagline-tag {
  color: $dark-red;
  background-color: $light-grey;
}

.content > .columns {
    padding-left: 1em;
}

.reverse-columns-mobile {
    @media(max-width: 768px) {
        flex-direction: column-reverse;
        display: flex;
    }
}

.toc > .menu {
    background-color: $light-pink;
}

.blog-post-container {
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.blog-post {
    max-width: 70ch;
}
