{% extends "base.html" %}

{% block title %}
  tags
{% endblock title %}

{% block content %}
  <div class="tags">
  {% for term in terms %}
    <a href="/tags/{{ term.slug }}" class="tag">{{ term.name }}</a>
  {% endfor %}
  </div>
{% endblock content %}
