<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}Index{% endblock %}
{% block content %}
  <table class="table table-hover borderless">
    <tr>
      <th colspan="2">Contact:</th>
    </tr>
    <tr>
      <td>email:</td>
      <td id='email'>
        cldershem [at] gmail.com
      </td>
    </tr>
    <tr>
      <td>phone:</td>
      <td>
        <a href="tel:+013123610322">
          +1.312.361.0322
        </a>
      </td>
    </tr>
    <tr>
      <td>github:</td>
      <td>
        <a href="http://github.com/cldershem">
          github.com/cldershem
        </a>
      </td>
    </tr>
    <tr>
      <td>twitter:</td>
      <td>
        <a href="https://twitter.com/jerknextdoor">
          @jerknextdoor
        </a>
      </td>
    </tr>
    <tr>
      <td>freenode:</td>
      <td>
        jerknextdoor
      </td>
    </tr>
    <tr>
      <td>resume:</td>
      <td>
        <a href="https://github.com/cldershem/Resume/blob/master/built/CameronDershemResume-Skills.pdf">
          gitbhub.com/cldershem/resume
        </a>
      </td>
    </tr>
  </table>
{% endblock %}
{% block footer %}
{% endblock %}
