[Unit]
Description=uWSGI instance to serve pinkhatbeard.com
After=network.target

[Service]
User=cldershem
Group=www-data
WorkingDirectory=/var/www/pinkhatbeard.com
Environment="PATH=/home/cldershem/.venvs/pinkhatbeard.com/bin"
ExecStart=/home/cldershem/.venvs/pinkhatbeard.com/bin/uwsgi --ini /var/www/pinkhatbeard.com/server/pinkhatbeard.ini

[Install]
WantedBy=multi-user.target
