{% extends "base.html" %}

{% block title %}Page not found{% endblock title %}

{% block content %}
  <h1>Whoops.</h1>
  <h2>Page not found.</h2>
  <p>
    One of us screwed up....probably me, but I'm gonna keep my eye on you.
  </p>
{% endblock content %}
