<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cameron Dershem - you know pink hat, beard, wears a fanny pack.">
  <title>{{ config.title }} - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}"/>
  <link rel="icon" href="{{ get_url(path="img/favicon.png", trailing_slash=false) }}">
  <link href="https://mastodon.social/@pinkhatbeard" rel="me">

  <script type="text/javascript" src={{ get_url(path="js/app.js", trailing_slash=false) }}></script>
</head>

<body>
<div class="container">

  <header id="header">
    <nav class="navbar navbar-fixed is-pink-bg" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="">
          <h1 class="title is-3">
            <a class="navbar-item" href="{{ get_url(path="/") }}" aria-label="Go to pinkhatbeard.com root">Cameron Dershem</a>
          </h1>

          <h6 id="tagline" class="subtitle is-6">
            ...you know <span id="adj1">pink hat</span>, <span id="adj2">beard</span>, <span id="adj3"><script>document.write(get_random_adj());</script></span>.
          </h6>
        </div>

        <button id="hamburger" class="button navbar-burger" data-target="nav-menu" aria-label="Nav Menu Button">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div id="nav-menu" class="navbar-menu navbar-end">
        <a class="navbar-item" href="{{ get_url(path="pages/contact") }}" aria-label="Get contact info for pinkhatbeard">contact</a>
        <a class="navbar-item" href="{{ get_url(path="pages/talks") }}" aria-label="Find talks by pinkhatbeard">talks</a>
        <a class="navbar-item" href="{{ get_url(path="posts") }}" aria-label="Read blog posts by pinkhatbeard">blog</a>
        <a class="navbar-item" href="https://cal.com/pinkhatbeard/" aria-label="Book a meeting slot with pinkhatbeard">book meeting</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </main>

  <footer id="footer" class="footer">
    <a href="#header" class="is-pink" aria-label="Go back to top of page">
      <span class="icon"><i class="fa fa-chevron-up"></i></span>
    </a>
    <div id="copyright" class="text-center">
      Copyright <span class="icon"><i class="fa fa-copyright"></i></span> 2025 pinkhatbeard, llc.  All Rights Reserved.
    </div><!-- end #copyright -->
  </footer>

  <div id="scripts">
  </div>
</div>
</body>
</html>
