{% extends "base.html" %}

{% block title%}
  {{ section.title }}
{% endblock title%}

{% block content %}
  <div class="hero is-light-grey">
    <div class="hero-body">
      <h1 class="title is-2">posts</h1>
    </div>
  </div>

  <div class="list-posts">
    {% set posts = get_section(path="posts/_index.md") %}
    {% for post in posts.pages %}
      <div class="box is-light-grey">
        <a href="{{ post.permalink }}">
          <h2 class="title is-3">{{ post.title }}</h2>
        </a>
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              published: {{ post.date }}
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              reading time: {{ post.reading_time }}
            </div>
          </div>
        </div>
        {% if post.taxonomies.tags %}
          <span class="tags">
            {% for term in post.taxonomies.tags %}
              <span class="tag"><a href="{{ get_url(path="tags") }}/{{ term | slugify }}">{{ term }}</a></span>
            {% endfor %}
          </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
