{% macro post_meta(page) %}
  <div class="hero is-light-grey">
    <div class="hero-body">
      <h1 class="title is-2"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>

      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            {% if page.date %}
              <h5 class="title is-5">{{page.date }}</h5>
            {% endif %}
          </div>
        </div>

        <div class="level-right">
          <div class="level-item">
            <h3 class="subtitle is-5">reading time: {{ page.reading_time }}</h3>
          </div>
        </div>
      </div>
      {% if page.terms %}
        <div class="tags">
      hi
          {% for term in page.terms %}
            <span class="tag"><a href="{{ get_url(path="tags") }}/{{ term | slugify }}">{{ term }}</a></span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro post_meta %}

{% macro page_meta(page) %}
  <div class="hero is-light-grey">
    <div class="hero-body">
      <h1 class="title is-2"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
    </div>
  </div>
{% endmacro page_meta %}
