{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

  {{ macros::page_meta(page=page) }}

  <div class="columns reverse-columns-mobile">

    <div class="column is-three-fifths">
      {{ page.content | safe }}
    </div>

    {% if page.toc %}
    <div class="toc column">

      <div class="menu box">
        <div class="menu-label">
          Table of Contents
        </div>

        <div class="menu-list">
          <div>
            <ul>
              {% for h1 in page.toc %}
              <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                <ul>
                  {% for h2 in h1.children %}
                  <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>
    {% endif %}

  </div>

{% endblock content %}
