{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
  {{ macros::post_meta(page=page) }}

  <div class="blog-post-container">
    <div class="blog-post">
      {{ page.content | safe }}
    </div>
  </div>

  {% if page.earlier %}
    <a href="{{ page.earlier.permalink | safe }}" class="pagination-previous"><--- {{ page.earlier.title }}</a>
  {% endif %}
  {% if page.later %}
    <a href="{{ page.later.permalink | safe }}" class="pagination-next">{{ page.later.title }} ---></a>
  {% endif %}

{% endblock content %}
