<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pinkhatbeard.com - {% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="shortcut icon" type="text/css/" href="{{ url_for('static', filename='img/favicon.png') }}" />
  {# <link rel="stylesheet" type="text/css/" href="{{ url_for('static', filename='css/style.css') }}" /> #}
  <link rel="stylesheet/less" type="text/css/" href="{{ url_for('static', filename='css/style.less') }}" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MRQ6SZ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MRQ6SZ');</script>
  <!-- End Google Tag Manager -->
  <div id="container" class="container">
    <header id="header">
      <a id="home" href="{{url_for('main.index')}}">
        <h1 id="name">Cameron Dershem</h1>
      </a>
      <h3 id="tagLine">
        ...you know <span id="adj1">{{ adj1 }}</span>, <span id="adj2">{{ adj2 }}</span>, <span id="adj3">{{ adj3 }}</span>.
      </h3>
    </header>
    <div id="mainContent">
      <div id="flashMessage">
        {%- with messages = get_flashed_messages() -%}
          {%- if messages -%}
            <ul class="alert alert-warning" role="alert">
              {%- for message in messages -%}
                <li>{{message}}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endwith -%}
      </div><!-- end #flashMEssage -->
      {% block content %}
      {% endblock %}
    </div><!-- end #mainContent -->
    <footer>
      {% block footer %}
      {% endblock %}
      <a id="backToTop" href="{{request.path}}#header">
        <span class="glyphicon glyphicon-chevron-up glyphicon-align-center"></span>
      </a>
      <div id="copyright" class="text-center">
        Copyright (c) 2016 Cameron Dershem.  All Rights Reserved.
      </div><!-- end #copyright -->
    </footer>
  </div><!-- end #container -->
  <div id="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </div><!-- end #scripts -->
</body>
</html>
